<html>
  <div class="container-fluid row">
    <div class="col-4"></div>
    <div class="col-4">
      <!--username-->
      <div class="form-group text-center">
        <label for="username" class="fw-bold">username</label>
        <input type="text" class="form-control text-center" id="username" aria-describedby="usernameHelp"
          placeholder="Enter your username!">
        <small id="usernameHelp2" class="form-text text-danger d-none">The user does not exist</small>
        <small id="usernameHelp" class="form-text text-danger d-none">fill the blank</small>
      </div>
      <!--password-->
      <div class="form-group text-center">
        <label for="password" class="fw-bold">password</label>
        <input type="password" class="form-control text-center" id="password" aria-describedby="passwordHelp"
          placeholder="Enter your password!">
        <small id="passwordHelp" class="form-text text-danger d-none">Wrong password</small>
      </div>
      <!--login-->
      <div class="form-group d-flex justify-content-center">
        <input type="button" class="btn-danger px-5 py-1 mt-3 rounded" id="BtnLogin" value="  Login  ">
      </div>
      <div class="col-4"></div>
    </div>
  </div>
</html>
