<html>
    <div class="container">
        <div class="row">
              
            <ul class="nav nav-tabs justify-content-center bg-secondary">
                <li class="nav-item">
                  <a data-toggle="tab" class="nav-link active text-dark fw-bold" href="#first">First</a>
                </li>
                <li class="nav-item">
                  <a data-toggle="tab" class="nav-link text-dark fw-bold" href="#second">second</a>
                </li>
                <li class="nav-item">
                  <a data-toggle="tab" class="nav-link text-dark fw-bold" href="#third">Third</a>
                </li>
              </ul>
              <div class="tab-content">
                <div id="first" class="tab-pane fade in active text-primary">
                    <h3>HOME</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et
                        dolore magna aliqua.</p>
                </div>
                <div id="second" class="tab-pane fade text-dark">
                    <h3>Menu 1</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </p>
                </div>
                <div id="third" class="tab-pane fade text-danger">
                    <h3>Menu 2</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                        laudantium, totam rem
                        aperiam.</p>
                </div>
              </div>
        </div>
    </div>
</html>