<html lang="en">
    <body>
        <div class="container-fluid row">
            <div class="col-6">
                <div>
                    <!--First Name-->
                    <div class="form-group">
                        <label for="FirstName">First Name</label>
                        <input type="text" class="form-control my-2" id="FirstName" aria-describedby="FirstNameHelp"
                            placeholder="Enter your Name!">
                        <small id="FirstNameHelp" class="form-text text-danger d-none">Just Enter Alphabet</small>
                    </div>
                    <!--Last Name-->
                    <div class="form-group">
                        <label for="LastName">Last Name</label>
                        <input type="text" class="form-control my-2" id="LastName" aria-describedby="LastNameHelp"
                            placeholder="Enter your LastName!">
                        <small id="LastNameHelp" class="form-text text-danger d-none">Just Enter Alphabet</small>
                    </div>
                    <!--Email-->
                    <div class="form-group">
                        <label for="Mail">Email address</label>
                        <input type="email" class="form-control my-2" id="Mail" aria-describedby="MailHelp"
                            placeholder="Enter email">
                        <small id="MailHelp" class="form-text text-danger d-none">Enter Right Email</small>
                    </div>
                    <!--UserName-->
                    <div class="form-group">
                        <label for="UserName">Username</label>
                        <input type="text" class="form-control my-2" id="UserName" aria-describedby="UserNameHelp"
                            placeholder="Enter your UserName!">
                        <small id="UserNameHelp" class="form-text text-danger d-none">Enter Another Username</small>
                        <small id="UserNameHelp2" class="form-text text-danger d-none">Enter Your Username</small>
                        
                    </div>
                    <!--Age-->
                    <div class="form-group">
                        <label for="Age">Age</label>
                        <input type="text" class="form-control my-2" id="Age" aria-describedby="AgeHelp"
                            placeholder="Enter your Age!">
                        <small id="AgeHelp" class="form-text text-danger d-none">Just Enter Number between 10-60</small>
                    </div>
                     <!--Gender-->
                     <div class="form-group mb-0">
                        <label for="Gender">Gender</label><br>
                        <input type="radio" id="Male" name="gender" value="Male">
                        <label style="margin-right: 50px;" for="Male">Male</label>
                        <input type="radio" id="Female" name="gender" value="Female">
                        <label for="Female">Female</label>
                        <small id="GenderHelp" class="form-text text-danger d-none">select your Gender</small>
                    </div>
                    <!--Password-->
                    <div class="form-group">
                        <label for="Pass">Password</label>
                        <input type="password" class="form-control mb-2" id="Pass" placeholder="Password">
                        <input type="password" class="form-control" id="PassCheck" placeholder="Confirm your Password!">
                        <small id="passwordHelp" class="form-text text-danger d-none">Not Match Paswword!</small>
                        <small id="passwordHelp2" class="form-text text-danger d-none">Enter a Paswword!</small>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-danger m-2 rounded" id="BtnSave" value="  Save  ">
                        <input type="button" class="btn btn-info m-2 rounded" id="BtnShow" value=" Show ">
                        <input type="button" class="btn btn-success m-2 rounded" id="BtnGoLogin" value=" Login ">
                    </div>
                </div>
            </div>
            <div id="ArrShow" class="col-6 bg-light">


            </div>
        </div>
    </body>
    <script src="../../assets/js/validationPerson.js"></script>
    <script src="../../assets/js/main.js"></script>
</html>
